/* QUARTO TEMA <theme5> ESTILO AMPM */

.theme5 .mobile-container,
.theme5 .mobile-overlay,
.theme5 .mobile-menuArrowIcon {
  transition: 0.3s;
}

.theme5 .mobile-menuContainer,
.theme5 .mobile-subItems {
  padding: 0 4vw;
}

.theme5 .mobile-hamburguer,
.theme5 .mobile-closeButton {
  display: flex;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.theme5 .mobile-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: white;
  width: 85%;
  height: 100%;
  max-width: 400px;
  min-width: 280px;
  pointer-events: none;
  transform: translate3d(-100%, 0px, 0px);
}

@media (max-width: 767px) {
  .theme5 .mobile-container {
    width: 100%;
  }
}

.theme5 .mobile-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.theme5 .mobile-container--Opened {
  pointer-events: initial;
  transform: translate3d(0%, 0px, 0px);
}

.theme5 .mobile-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(3, 4, 78, 0.5);
  pointer-events: none;
  opacity: 0;
}

.theme5 .mobile-overlay--Opened {
  pointer-events: initial;
  opacity: 1;
}

.theme5 .mobile-headerContainer {
  height: ;
  padding-top: 40px;
}

.theme5 .mobile-titleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 4vw 10px;
  position: absolute;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.theme5 .mobile-closeButtonImage {
  max-width: 15px;
}

.theme5 .mobile-titleContent {
  min-height: 24px;
  order: 2;
}

.theme5 .mobile-buttonsContainer {
  display: flex;
  align-items: center;
}

.theme5 .mobile-logoutButton {
  color: #000;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  order: 2;
  padding-left: 15px;
}

.theme5 .mobile-title {
  color: #000;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
}

.theme5 .mobile-itemsContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1vh 0;
}

.theme5 .mobile-itemsContent,
.theme5 .mobile-subItemsContent {
  padding: 0;
  margin: 0;
  list-style: none;
}

.theme5 .mobile-item .mobile-itemLink {
  background-color: #4F5350;
  border-bottom: 1px solid #626563;
}

.theme5 .mobile-subItem {
  padding: 2vh 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.theme5 .mobile-itemLink {
  padding: 14px 4vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  justify-content: space-between;
}

.theme5 .mobile-itemTextContent {
  display: flex;
  align-items: center;
}

.theme5 .mobile-itemIcon {
  padding-right: 15px;
  display: flex;
  align-items: center;
  max-width: 15px;
}

.theme5 .mobile-itemText {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
}

.theme5 .mobile-menuItemLink,
.theme5 .mobile-menuSecondItemLink {
  position: relative;
  text-decoration: none;
  display: block;
}

.theme5 .mobile-menuArrowIcon {
  max-width: 12px;
  height: auto;
}

.theme5 .mobile-menuItemsTitle,
.theme5 .mobile-menuBackButton,
.theme5 .mobile-menuSeeAllButton {
  display: none;
}

.theme5 .mobile-menuItems,
.theme5 .mobile-menuSecondItems,
.theme5 .mobile-menuThirdItems {
  padding: 0;
  margin: 0;
}

.theme5 .mobile-menuItems {
  height: 100%;
  max-height: 65vh;
  margin-top: 1vh;
}

.theme5 .mobile-menuItems::-webkit-scrollbar {
  width: 10px;
}

.theme5 .mobile-menuItems::-webkit-scrollbar-track {
  background: #fff;
}

.theme5 .mobile-menuItems::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 20px;
  border: 2px solid #fff;
}

.theme5 .mobile-menuItem,
.theme5 .mobile-menuSecondItem,
.theme5 .mobile-menuThirdItem {
  list-style: none;
}

.theme5 .mobile-menuItemLink {
  padding: 10px 0;
  font-size: 11px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.theme5 .mobile-menuItemLinkText {
  display: flex;
  align-items: center;
}

.theme5 .mobile-menuIcon {
  padding-right: 10px;
}

.theme5 .mobile-menuIconContent {
  display: flex;
  height: 20px;
  text-align: center;
  align-items: flex-end;
}

.theme5 .mobile-menuIcon {
  width: 100%;
  height: inherit;
}

.theme5 .mobile-menuSecondItems .mobile-menuSecondItemLinkText,
.theme5 .mobile-menuSecondItems .mobile-menuThirdItemLinkText {
  display: flex;
  align-items: center;
}

.theme5 .mobile-menuSecondItemLink {
  padding: 10px 0;
  margin: 0 8px;
  font-weight: 500;
  font-size: 11px;
  color: #000;
  letter-spacing: 0.08rem;
}

.theme5 .mobile-menuThirdItemLink {
  display: block;
  padding: 10px 0;
  margin: 0 16px;
  font-weight: 400;
  font-size: 11px;
  color: #000;
}

.theme5 .mobile-menuSecondItemsWrapper,
.theme5 .mobile-menuThirdItemsWrapper,
.theme5 .mobile-subItems {
  pointer-events: none;
  transform: scaleY(0);    
  transform-origin: top;
  transition: 0.2s;
  overflow: hidden;
  height: 0;
}

.theme5 .mobile-menuItem--Opened .mobile-menuSecondItemsWrapper,
.theme5 .mobile-menuSecondItem--Opened .mobile-menuThirdItemsWrapper,
.theme5 .mobile-item--Opened .mobile-subItems {
  pointer-events: auto;
  transform: scaleY(1);
  height: 100%;
  transition: 0.3s;
}

.theme5 .mobile-menuItemLink,
.theme5 .mobile-menuSecondItemLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme5 .mobile-menuItem--Opened .mobile-menuItemLink .mobile-menuArrowIcon,
.theme5 .mobile-menuSecondItem--Opened .mobile-menuSecondItemLink .mobile-menuArrowIcon,
.theme5 .mobile-item--Opened .mobile-itemLink .mobile-menuArrowIcon {
  transform: rotate(-180deg);
}

.theme5 .mobile-item .mobile-itemLink .mobile-menuArrowIconContent {
  display: flex;
}

.theme5 .mobile-item .mobile-itemLink .mobile-menuArrowIcon {
  fill: white;
  max-width: 9px;
}

.theme5 .mobile-footerContainer {
  display: none;
}

/* FIM DO QUARTO TEMA </theme5> */
