/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
@media (max-width: 1024px) {
  .container {
    padding: 0;
  }
}

.searchBarContainer {
  padding: 0 25px;
  max-width: 100%;
}
.searchBarContainer :global(.vtex-input) {
  width: 100% !important;
  height: 37px !important;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input-prefix__group) {
  border: 0 !important;
  outline: none;
  border-radius: 0 !important;
  background-color: transparent !important;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
  border: 1px solid #adaaaa;
  border-left: 0;
  background-color: #FAFAFA;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) .searchBarIcon {
  width: 30px;
  padding: 0;
  background-size: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Grupo_17' data-name='Grupo 17' width='22.048' height='22.05' viewBox='0 0 22.048 22.05'%3E%3Cg id='procurar' transform='translate(0 0)'%3E%3Cg id='CIRCLE_3_' transform='translate(0 0)'%3E%3Cg id='Grupo_15' data-name='Grupo 15' transform='translate(0 0)'%3E%3Cpath id='Caminho_8' data-name='Caminho 8' d='M17.131,26.369h0a8.993,8.993,0,0,1-2.43-.334A9.26,9.26,0,0,1,8.153,15.507,9.316,9.316,0,0,1,17.215,8c.274,0,.55.013.823.038a9.253,9.253,0,0,1,8.337,9.149,9.154,9.154,0,0,1-.6,3.263,9.277,9.277,0,0,1-8.647,5.918Zm.084-16.53A7.35,7.35,0,0,0,15.2,24.265a7.167,7.167,0,0,0,1.934.266A7.429,7.429,0,0,0,24.06,19.8a7.321,7.321,0,0,0,.477-2.61A7.4,7.4,0,0,0,17.87,9.868c-.217-.019-.437-.029-.655-.029Z' transform='translate(-8.002 -8.001)'/%3E%3C/g%3E%3C/g%3E%3Cg id='LINE_28_' transform='translate(14.114 14.115)'%3E%3Cg id='Grupo_16' data-name='Grupo 16' transform='translate(0 0)'%3E%3Cpath id='Caminho_9' data-name='Caminho 9' d='M45.74,46.662a.914.914,0,0,1-.65-.269l-6.1-6.1a.919.919,0,1,1,1.3-1.3l6.1,6.1a.919.919,0,0,1-.65,1.568Z' transform='translate(-38.724 -38.727)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) .searchBarIcon--clear {
  background-image: unset;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) .searchBarIcon .searchIcon {
  display: none;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
  border: 1px solid #adaaaa;
  border-right: 0;
  background-color: #FAFAFA;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 13px;
}
.searchBarContainer :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)::placeholder {
  font-size: 14px;
}

.searchBarInnerContainer {
  width: 100%;
}

@media (max-width: 1024px) {
  .searchBarContainer .searchBarInnerContainer {
    margin: auto;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .productNameContainer .productBrand {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    color: #000000;
  }
}
@media (min-width: 1380px) {
  .imageElement--carousel {
    height: 47vw;
    width: 100vw;
    object-fit: cover;
  }
}
@media (max-width: 1370px) {
  .imageElement--carousel {
    height: 545px;
    width: 100vw !important;
    object-fit: cover;
  }
}
.productNameContainer .productBrand {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

@media (max-width: 1024px) {
  .productNameContainer {
    padding: 0 25px;
  }
  .productNameContainer .productBrand {
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
  }
}
.infoCardContainer--info-card-example {
  margin-bottom: 20px;
  width: 100%;
}

.skuSelectorContainer {
  top: 55px;
  position: relative;
}
.skuSelectorContainer .skuSelectorSubcontainer .skuSelectorNameContainer .skuSelectorTextContainer {
  display: none;
}

.skuSelectorOptionsList {
  align-items: start;
  margin-left: 0;
}

.skuSelectorInternalBox {
  border-radius: 20px;
}

.skuSelectorItem {
  border: none !important;
}

.frameAround {
  border: none !important;
}

.skuSelectorItemTextValue {
  background-color: black !important;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 20%;
  color: white !important;
}

.logoContainer.sizeDesktop {
  padding: 0;
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .shippingContainer {
    margin-top: 90px !important;
  }
  .shippingContainer :global(.vtex-button) {
    margin-left: -50px !important;
  }
  .shippingContainer :global(.vtex-button) :global(.vtex-button__label)::after {
    width: 110px !important;
    font-size: 12px !important;
  }
}
@media (min-width: 758px) {
  .shippingContainer {
    margin: 40px 0 20px;
    padding: 0;
    position: relative;
  }
  .shippingContainer :global(.vtex-input) :global(.vtex-input-prefix__group) {
    border: none;
  }
  .shippingContainer :global(.vtex-input) :global(.vtex-input__label) {
    font-size: 0;
  }
  .shippingContainer :global(.vtex-input) :global(.vtex-input__label)::after {
    display: flex;
    content: "Cep";
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: start;
  }
  .shippingContainer :global(.vtex-address-form-4-x-input) {
    width: 154px;
    background-color: white;
    border: 1px solid #ebebeb;
    border-radius: 20px;
  }
  .shippingContainer :global(.vtex-address-form__postalCode) {
    padding-bottom: 0;
  }
  .shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }
  .shippingContainer :global(.vtex-button) {
    border-radius: 20px;
    top: 22px;
    left: 154px;
    width: fit-content;
    border: 0;
    height: 40px;
    position: absolute;
    margin-left: 10px;
  }
  .shippingContainer :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 15px;
    text-transform: initial;
  }
}
@media (max-width: 1050px) {
  .shippingContainer {
    width: 265px;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
  }
  .shippingContainer :global(.vtex-input-prefix__group) {
    border: none;
    height: auto;
  }
  .shippingContainer :global(.vtex-input-prefix__group) :global(.vtex-address-form-4-x-input) {
    width: 100%;
    height: 47px;
  }
  .shippingContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
    display: none;
  }
  .shippingContainer :global(.vtex-address-form-4-x-input) {
    background-color: white !important;
    border: 1px solid #ebebeb;
    border-radius: 50px;
  }
  .shippingContainer :global(.vtex-button) {
    height: 47px;
    border-radius: 50px;
  }
  .shippingContainer :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 17px;
    text-transform: none;
  }
  :global(.vtex-address-form__postalCode-forgottenURL) {
    display: flex;
    justify-content: center;
    font-size: 14px !important;
    font-weight: 700;
  }
  :global(.vtex-address-form__postalCode) {
    padding-bottom: 12px;
  }
  :global(.vtex-input__label) {
    display: flex;
    justify-content: center;
    font-weight: 700;
  }
}
.productDescriptionContainer {
  padding: 25px 0 0;
}
@media (max-width: 768px) {
  .productDescriptionContainer {
    padding: 0 25px 25px;
  }
}
.productDescriptionContainer .productDescriptionTitle {
  display: none;
}
.productDescriptionContainer .productDescriptionText .content {
  color: #000;
}

.productImagesGallerySwiperContainer {
  padding: 0 25px;
}
@media (min-width: 1024px) {
  .productImagesGallerySwiperContainer {
    padding: 0;
  }
}

.subscriberContainer {
  padding: 30px 25px 15px;
}
@media (min-width: 1024px) {
  .subscriberContainer {
    padding: 30px 0 0;
  }
}
.subscriberContainer .title,
.subscriberContainer .subscribeLabel {
  text-align: center;
}
@media (min-width: 768px) {
  .subscriberContainer .title,
  .subscriberContainer .subscribeLabel {
    text-align: left;
  }
}
.subscriberContainer .form .content {
  margin: 12px auto 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .subscriberContainer .form .content {
    margin: 12px auto 0 0;
  }
}
.subscriberContainer .form .content .input :global(.vtex-input-prefix__group) {
  color: #000;
  height: 45px;
  border: 1px solid;
  border-radius: 30px;
}
.subscriberContainer .form .content .submit :global(.vtex-button) {
  width: 100%;
  height: 47px;
  border-radius: 30px;
}
.subscriberContainer .productDescriptionContainer {
  padding: 0px 30px 30px 30px;
  margin-bottom: 30px;
}
.subscriberContainer .productDescriptionContainer .productDescriptionTitle {
  display: none;
}