/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
.container {
  margin-top: 20px;
}
.container .arrow {
  text-transform: lowercase;
}

:global(.vtex-breadcrumb-1-x-term) {
  font-size: 14px !important;
  color: black;
}

:global(.vtex-breadcrumb-1-x-arrow) {
  font-size: 14px !important;
}

@media (max-width: 1050px) {
  :global(.vtex-breadcrumb-1-x-term) {
    font-size: 12px !important;
    color: black;
  }
  :global(.vtex-breadcrumb-1-x-arrow) {
    font-size: 12px !important;
  }
}
:global(.vtex-breadcrumb-1-x-homeIcon) {
  display: none;
}