/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
.sliderLayoutContainer--carousel {
  margin-top: -160px;
}
.sliderLayoutContainer--carousel .paginationDotsContainer--carousel {
  margin-bottom: 2em;
}
.sliderLayoutContainer--carousel .paginationDotsContainer--carousel .paginationDot--isActive {
  width: 34px !important;
  height: 11px !important;
  border-radius: 20px;
  background-color: #FFFFFF;
}
.sliderLayoutContainer--carousel .paginationDotsContainer--carousel .paginationDot--carousel {
  width: 11px;
  height: 11px;
  background-color: #FFFFFF;
}

@media (max-width: 758px) {
  .slideChildrenContainer--shelf {
    margin-left: 20px;
  }
  .sliderLayoutContainer--shelfBanner {
    margin-bottom: 1.2em;
  }
}
@media (min-width: 758px) {
  .sliderLayoutContainer--slideSelecao {
    max-width: 1060px;
    margin: 20px auto;
  }
}
.sliderLayoutContainer--slideSelecao {
  margin: 20px auto;
}

:global(.vtex-store-components-3-x-swiperCaretNext) :global(.vtex-store-components-3-x-caretIcon),
:global(.vtex-store-components-3-x-swiperCaretPrev) :global(.vtex-store-components-3-x-caretIcon) {
  background-color: #B1B1B1 !important;
  border-radius: 50% !important;
  padding: 5px;
  box-sizing: border-box;
  color: white;
}

:global(.vtex-shelf-1-x-dot--isActive--pdp),
:global(.vtex-store-components-3-x-swiperBullet--active) {
  border-radius: 20px;
  background-color: rgba(3, 3, 3, 0.253);
  width: 34px !important;
  height: 11px !important;
}

:global(.vtex-slider-layout-0-x-sliderArrows) {
  background-color: #B1B1B1 !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50% !important;
}
:global(.vtex-slider-layout-0-x-sliderArrows) :global(.vtex-slider-layout-0-x-caretIcon) {
  color: #FFFFFF;
  width: 70% !important;
}

.slideChildrenContainer--shelf {
  margin-right: 10px;
}