/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
.container {
  margin-top: 20px;
}
.container .arrow {
  text-transform: lowercase;
}

.homeLink,
.arrow--1 .caretIcon {
  display: none;
}

.arrow--1,
.link--1 {
  padding-left: 0;
}

:global(.vtex-breadcrumb-1-x-term) {
  font-size: 14px !important;
  color: black;
}

:global(.vtex-breadcrumb-1-x-arrow) {
  font-size: 14px !important;
}

@media (max-width: 758px) {
  :global(.vtex-breadcrumb-1-x-term) {
    font-size: 12px !important;
    color: black;
  }
  :global(.vtex-breadcrumb-1-x-arrow) {
    font-size: 12px !important;
  }
}
:global(.vtex-breadcrumb-1-x-homeIcon) {
  display: none;
}