/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
.listPrice--summary .listPriceValue--summary {
  text-decoration: line-through;
  font-size: 14px;
  color: #7D7B7B;
}

.spotPrice--summary .spotPriceValue--summary {
  font-size: 24px;
  color: #000000;
}

.installments--summary {
  font-size: 14px;
  color: #7D7B7B;
  margin-bottom: 10px;
}

.installments {
  color: #7D7B7B;
  font-size: 13px;
}