/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
.flexRow--topbar {
  background-color: #FAFAFA;
}
.flexRow--topbar .flexRowContent {
  height: 35px;
  display: flex;
  align-items: center;
}
.flexRow--topbar .flexRowContent .stretchChildrenWidth .flexCol {
  height: fit-content;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

@media (max-width: 1024px) {
  .flexRow--topbar .flexRowContent .stretchChildrenWidth .flexCol {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
}
.flexRow--main-header-mobile .flexRowContent {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexRow--main-header {
  transition: background 300ms ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.452);
}
.flexRow--main-header .flexRowContent {
  padding: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCol--componentsDesktop {
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: row;
  gap: 18px;
}

.flexRow--main-header .flexRowContent:first-child .flexCol {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexRowContent--MenuDesktop {
  padding: 10px;
  box-sizing: border-box;
}

.flexRow--searchbarmobile {
  padding: 10px 0;
}

.flexRow--deals .flexRowContent {
  display: flex;
  align-items: center;
}
.flexRow--deals .flexRowContent:first-child .stretchChildrenWidth {
  max-width: fit-content;
  margin-left: 10px;
}
.flexRow--deals .flexRowContent:last-child .stretchChildrenWidth {
  width: 80% !important;
}

.flexRow--sku-cart .flexRowContent .stretchChildrenWidth :global(.vtex-button) {
  background-color: #1B9A28;
  border-radius: 25px;
  padding: 8px 40px;
}

.flexRow--shelfBanner .flexRowContent {
  align-items: center;
}
.flexRow--shelfBanner .flexRowContent .stretchChildrenWidth .flexCol .flexColChild {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (max-width: 1050px) {
  .flexRow--shelfBanner .flexRowContent .stretchChildrenWidth:first-child .flexCol {
    gap: 0em !important;
  }
  .flexRowContent--productSpecificationGroup {
    padding: 30px;
  }
}
.flexRow--section-3 .flexRowContent .stretchChildrenWidth {
  gap: 10px;
}

.flexRow--newsletterTitle {
  background-color: #FFFFFF;
  padding-top: 30px;
  margin-top: 40px;
}

.flexRow--newsletterFooter {
  background-color: #FFFFFF;
  padding-bottom: 50px;
}
.flexRow--section-3-desktop {
  margin-top: 30px;
  margin-bottom: 30px;
}
.flexRow--section-3-desktop .flexRowContent {
  gap: 12px;
}

.flexRow--HomeSeo .flexRowContent {
  display: flex;
  flex-direction: column;
}
.flexRow--HomeSeo .flexRowContent .stretchChildrenWidth {
  width: 80% !important;
  margin: auto;
}

.flexRow--footer-flags-01 {
  background-color: #000000;
}
.flexRow--footer-flags-01 .flexRowContent {
  padding: 8px 0;
}
.flexRow--footer-flags-01 .flexRowContent .stretchChildrenWidth .flexCol--social-flags-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.flexRow--footer-flags-01 .flexRowContent .stretchChildrenWidth .flexCol--social-flags-footer .flexColChild {
  height: fit-content !important;
}

@media (max-width: 1050px) {
  .flexCol--social-flags-footer-logo {
    display: none;
  }
  .flexRow--footer-flags-01 {
    background-color: #000000;
  }
  .flexRow--footer-flags-01 .flexRowContent {
    padding: 15px 0;
  }
  .flexRow--footer-flags-01 .flexRowContent .stretchChildrenWidth .flexCol--social-flags-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .flexRow--footer-flags-01 .flexRowContent .stretchChildrenWidth .flexCol--social-flags-footer .flexColChild {
    height: fit-content !important;
  }
  .flexRow--flag-list-1 {
    background-color: #f1f1f1;
    padding: 5px 0;
  }
  .flexRow--flag-list-1 .flexRowContent {
    display: flex;
    justify-content: center;
  }
  .flexRow--buybutton {
    margin: 27px 0px;
  }
}
.flexRow--footercol4 .flexRowContent {
  display: flex;
  flex-direction: column;
}
.flexRow--footercol4 .flexRowContent .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--flag-list-1 .flexRowContent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flexRow--footer-styles {
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

.flexColChild--footerMenuDesktop {
  margin-right: 10px;
}

.flexRowContent--searchtitle {
  display: flex;
  align-items: center;
}
.flexRowContent--searchtitle .stretchChildrenWidth:first-child {
  width: fit-content !important;
}
.flexRowContent--searchtitle .stretchChildrenWidth:last-child {
  width: fit-content !important;
}

@media (max-width: 1050px) {
  .flexRowContent--buybutton .stretchChildrenWidth :global(.vtex-button) {
    width: 60%;
    padding: 10px 5px;
  }
  .flexRow--info-card {
    margin-bottom: 0px !important;
  }
}
.flexRowContent--buybutton .stretchChildrenWidth :global(.vtex-button) {
  border-radius: 20px;
  border: none;
  background-color: #1B9A28;
}

.flexRow--main-header .flexRowContent--main-header .stretchChildrenWidth {
  width: calc(100% - 513px) !important;
}
.flexRow--main-header .flexRowContent--main-header .stretchChildrenWidth:first-child {
  width: 150px !important;
}
.flexRow--main-header .flexRowContent--main-header .stretchChildrenWidth:last-child {
  width: 363px !important;
}

.flexCol--searchBar .flexColChild--searchBar {
  width: 100%;
  display: block;
}

.flexRow--container__pagina-institucional {
  margin: 30px 0;
}
.flexRow--container__pagina-institucional .flexRowContent {
  gap: 5%;
}

.flexCol--container__conteudo-institucional {
  padding: 30px;
  box-sizing: border-box;
  background-color: white;
}

.flexRow--searchbarmobile {
  padding-bottom: 10px;
  margin-top: -1px;
}

.flexRow--fullbanner2 {
  margin-top: 50px !important;
}

.flexRow--4-FullBanner,
.flexRow--fullbanner3 {
  margin-bottom: 25px !important;
}

.flexRow--fullbanner4 {
  margin: 50px auto;
}

.flexRow--fullbanner5,
.flexRow--info-card,
.flexRow--tituloDeVitrine {
  margin-top: 50px !important;
  margin-bottom: 25px;
}

.flexRow--fullbanner1 {
  margin-bottom: 25px !important;
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .flexRowContent--container__pagina-institucional {
    display: flex;
    flex-direction: column;
  }
  .flexRowContent--topbar .stretchChildrenWidth .flexCol {
    display: flex;
    justify-content: flex-end !important;
    margin-right: 5%;
  }
  .flexRowContent--shelfBanner {
    display: flex;
    flex-direction: column;
  }
  .flexRowContent--shelfBanner .stretchChildrenWidth {
    width: 100% !important;
  }
}