/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
.containerNormal {
  background-color: #FFFFFF;
}
.containerNormal .clearLink .element {
  padding: 23px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.containerNormal .clearLink .element .nameContainer {
  margin-bottom: 10px;
}
.containerNormal .clearLink .element .nameContainer .productBrand {
  text-align: center;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0;
}