/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
.searchResultContainer {
  padding: 0px !important;
}

@media (min-width: 1024px) {
  .searchResultContainer {
    margin-bottom: 202px;
  }
  .filters--layout {
    margin-top: 4em !important;
    width: 17em;
    padding: 1em;
    margin: 0;
    position: sticky;
    top: 150px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
  }
  .filters--layout {
    margin-top: 3.9rem;
  }
  .filters--layout .filtersWrapper .filterTemplateOverflow :global(.vtex-slider-container) :global(.vtex-slider) :global(.vtex-slider__base) :global(.vtex-slider__base-internal) {
    background-color: #000000;
  }
  .filters--layout .filtersWrapper .filterTemplateOverflow :global(.vtex-slider-container) :global(.vtex-slider__selector-container) :global(.vtex-slider__selector) {
    background-color: #000000;
  }
  .gallery .galleryItem--normal :global(.vtex-product-summary-2-x-container) {
    background-color: white;
  }
  .gallery .galleryItem--normal :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-flex-layout-0-x-flexRow--addToCart) {
    display: none !important;
  }
  .galleryTitle--layout {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
  }
}
.accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsText {
  color: #000000;
  margin-right: 10px;
}
.accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsItem .filterBreadcrumbsItemName {
  color: #000000;
}
.accordionFilter .filterAccordionBreadcrumbs .filterBreadcrumbsContent .filterBreadcrumbsItem .caretIcon {
  color: #000000;
}

.sidebar {
  box-shadow: unset;
}

.filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) {
  border-radius: 10px;
  background-color: #000000;
}
.filterButtonsBox .filterClearButtonWrapper :global(.vtex-button) :global(.vtex-button__label) {
  color: #fff;
  padding-top: 0.25em;
  padding-bottom: 0.32em;
}
.filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) {
  border-radius: 10px;
  background-color: #000000;
}
.filterButtonsBox .filterApplyButtonWrapper :global(.vtex-button) :global(.vtex-button__label) {
  color: #fff;
  padding-top: 0.25em;
  padding-bottom: 0.32em;
}

.gallery {
  gap: 15px;
  padding: 15px;
  justify-content: center;
}
.gallery .galleryItem--grid {
  padding: 0;
  max-width: 80% !important;
  flex-basis: unset !important;
}
@media (min-width: 450px) {
  .gallery .galleryItem--grid {
    max-width: calc(50% - 7.5px) !important;
  }
}
@media (min-width: 768px) {
  .gallery .galleryItem--grid {
    max-width: calc(33% - 7.5px) !important;
  }
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) {
  background-color: white;
}
.gallery .galleryItem :global(.vtex-product-summary-2-x-container) :global(.vtex-product-summary-2-x-clearLink) :global(.vtex-product-summary-2-x-element) :global(.vtex-flex-layout-0-x-flexRow--sku-selector) {
  display: none;
}

:global(.vtex-checkbox__inner-container) {
  border-radius: 50%;
  border: 1px solid grey;
  align-items: center;
  display: flex;
  background-color: transparent;
}

:global(.vtex-checkbox__input) {
  border: 1px solid;
  background-color: transparent;
}

:global(.vtex__icon-check) {
  background-color: #DC3E3F;
  color: #DC3E3F;
  border-radius: 50%;
}

:global(.vtex-checkbox__line-container) {
  align-items: center;
}

:global(.vtex-checkbox__label) {
  color: black;
  font-size: 13px;
}

.orderBy--layout .orderByDropdown .orderByButton {
  border: 0;
  padding: 0;
}
.orderBy--layout .orderByDropdown .orderByButton .filterPopupTitle {
  color: #dc3e3f;
  text-transform: capitalize;
  font-weight: 600;
}
.orderBy--layout .orderByDropdown .orderByButton .filterPopupTitle .orderByText {
  text-transform: capitalize;
  margin-right: 3px;
  font-weight: 500;
  color: #000000;
}

.galleryLayoutSwitcher {
  gap: 10px;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton {
  gap: 10px;
}
.galleryLayoutSwitcher .galleryLayoutOptionButton:first-child {
  background-color: #F2F2F2;
  padding: 0px 20px;
  gap: 10px;
  border-radius: 20px;
}

.buttonShowMore--layout {
  margin: 15px 0;
}
.buttonShowMore--layout .buttonShowMore :global(.vtex-button) {
  border-radius: 20px;
}

.totalProducts--layout {
  color: #B1B1B1;
  font-size: 14px;
  font-weight: 400;
}

.filters--layout .filtersWrapper .filter__container--title .filterMessage {
  font-weight: 600;
  text-transform: uppercase;
}
.filters--layout .filtersWrapper .filter__container--title .filterMessage::after {
  content: url("assets/icons/IconsHeader/filter.svg");
  margin-left: 10px;
}

.filterBreadcrumbsText {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.filterBreadcrumbsText::after {
  content: url("assets/icons/IconsHeader/filter.svg");
  margin-left: 10px;
}

.accordionFilterContainer {
  padding-left: 1rem !important;
}

.filterIcon {
  color: black;
}

.filterBreadcrumbsItemName,
.accordionFilterItemTitle {
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.filterTitle {
  color: black;
  font-weight: 500;
}

.filterTemplateOverflow {
  max-height: max-content !important;
  overflow-y: none !important;
}

.filterPopupButton {
  height: auto;
  padding: 0;
  border-radius: 20px;
  background-color: transparent;
}