.container--pdp {
  background-color: white;
  padding: 20px 0;
}
.container--pdp .listContainer .listItem :global(.vtex-button) {
  background-color: transparent;
}
.container--pdp .listContainer .listItem :global(.vtex-button) :global(.vtex-button__label) {
  color: #afaeae;
  font-weight: 500;
}
.container--pdp .listContainer .listItemActive :global(.vtex-button) {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black !important;
}
.container--pdp .listContainer .listItemActive :global(.vtex-button) :global(.vtex-button__label) {
  color: black;
  font-weight: 700;
}