/*Colors */
/* End colors */
/* preto */
/* cinza */
/* branco */
.menuContainer--menuPrincipal {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .menuContainerNav--menuPrincipal {
    width: 100%;
  }
  .menuContainerNav--menuPrincipal .menuItem {
    padding: 15px;
    border-bottom: 1px solid transparent;
    background-color: transparent;
  }
  .menuContainerNav--menuPrincipal .menuContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
  }
}
.submenuContainer .submenuWrapper--isOpen {
  padding-top: 0;
  border-top: 1px solid transparent;
}

.menuContainerNav {
  width: 100%;
}

@media (min-width: 1024px) {
  .menuItem--mainMenu .styledLinkContainer .styledLink .styledLinkContent--mainMenu {
    display: flex;
    align-items: center;
  }
  .menuItem--mainMenu .styledLinkContainer .styledLink .styledLinkContent--mainMenu::before {
    content: url("assets/icons/icon-hamburguer.svg");
    height: 22px;
    width: 22px;
    margin-right: 3px;
  }
}
@media (max-width: 1024px) {
  .menuItem--footerMenuItem .menuItemInnerDiv {
    background-color: transparent;
  }
  .menuItem--footerMenuItem .menuItemInnerDiv .styledLinkContainer .submenuAccordion {
    background-color: transparent;
  }
}
.submenuAccordion--footerSubmenu {
  padding-left: 0px !important;
}
.submenuAccordion--footerSubmenu .menuContainerNav {
  background-color: transparent;
}

.submenuAccordion--product-specification {
  width: 100%;
  padding: 0;
}
@media (max-width: 1024px) {
  .submenuAccordion--product-specification {
    display: flex;
    flex-direction: column;
  }
}

.styledLinkContent--link__menu-institucional {
  padding: 15px 12px;
  color: #000000;
  font-size: 16px;
}
.styledLinkContent--link__menu-institucional:focus {
  font-weight: bold;
}

.menuItem--link__menu-institucional {
  border-bottom: 1px solid #BCBCBC;
}

.menuItem--link__menu-institucional--isOpen {
  color: #000000;
}

.styledLinkIcon--text__institucional-title-menu-mobile {
  display: none;
}

.menuItemInnerDiv--text__institucional-title-menu-mobile {
  background-color: transparent;
  padding: 7px;
}
.menuItemInnerDiv--text__institucional-title-menu-mobile .styledLinkContainer .styledLink .styledLinkContent {
  color: #FAFAFA;
}
.menuItemInnerDiv--text__institucional-title-menu-mobile .styledLinkContainer .styledLink .accordionIcon {
  color: #FAFAFA;
}

.accordionIcon--isClosed {
  font-size: 0px;
}

.styledLinkContainer .styledLink .styledLinkContent .accordionIcon--isClosed {
  width: 15px;
  height: 15px;
  margin: 0;
  font-size: 0;
  transform: rotate(0deg);
  background-size: contain;
  background-image: url("assets/icons/angulo-para-baixo.png");
  background-repeat: no-repeat;
  background-position: 50%;
}
.styledLinkContainer .styledLink .styledLinkContent .accordionIcon--isOpen {
  width: 15px;
  height: 15px;
  margin: 0;
  font-size: 0;
  transform: rotate(180deg);
  background-size: contain;
  background-image: url("assets/icons/angulo-para-baixo.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

.submenuAccordion--accordionPdp {
  padding-left: 0 !important;
}

.menuItemInnerDiv--accordionPdp {
  margin-bottom: 5px;
}
.menuItemInnerDiv--accordionPdp .styledLinkContainer {
  margin: 0 !important;
  padding: 10px;
  border-bottom: 1px solid #FAFAFA;
}

@media (max-width: 1050px) {
  .styledLinkContent--footerMenuItem {
    padding: 15px 10px;
  }
  .menuItem--footerMenuItem {
    border-bottom: 1px solid #B1B1B1;
  }
}
.menuItemInnerDiv--text__institucional-title-menu-mobile {
  background-color: transparent;
  border-radius: 4px;
}
.menuItemInnerDiv--text__institucional-title-menu-mobile .styledLinkContainer .styledLink .styledLinkContent {
  color: #000000;
}

@media (max-width: 1050px) {
  .styledLinkContent--footerMenuItem {
    text-transform: uppercase;
  }
}
@media (max-width: 1050px) {
  .styledLinkContent--PdpMenuItem {
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-size: 17px;
  }
  .menuItem--PdpMenuItem {
    border-bottom: 1px solid #B1B1B1;
  }
  .menuItem--PdpMenuItem .menuItemInnerDiv--PdpMenuItem {
    background-color: white;
  }
  .menuItem--PdpMenuItem .menuItemInnerDiv--PdpMenuItem .styledLinkContainer {
    margin: 0 25px;
  }
}