body {
  // font-family: $font-primary;
  padding-top: 0;
}

// * {
//   font-family: $font-primary;
// }

// input,
// button,
// select,
// textarea {
//   font-family: $font-primary;
// }

input:focus,
button:focus,
select:focus,
textarea:focus {
  border-color: $color-brand-primary !important;
}

strong {
  font-weight: $font-medium;
}

p,
div,
span,
a,
i {
  color: $color-base-primary;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1280px;
  max-width: 95vw;
}
