.client-pre-email {
  @media (max-width: $large-desktop) {
    font-size: 13px;
    h3 {
      margin-top: 8px;
      span {
        display: block;
        font-size: 22px;
      }
      small {
        font-size: 13px;
      }
    }
    label {
      margin-top: 8px;
    }
    input {
      height: 48px;
      font-size: 18px;
    }
    .btn-success {
      top: auto;
      right: auto;
      margin: 5px auto 0;
      position: relative;
    }
  }
  .client-email {
    .loading-inline {
      display: none !important;
    }
  }
}
.client-pre-email-h {
  label {
    @media (max-width: $large-desktop) {
      margin-top: 8px;
    }
  }
}
#client-pre-email {
  padding: 5px 5px 5px 25px !important;
  height: 64px;
}
#btn-client-pre-email {
  top: 4px;
  right: 4px;
  height: 56px;
  padding: 0 35px;
}
#client-pre-email, 
#btn-client-pre-email {
  border-radius: 100px !important;
}