/* QUINTO TEMA <theme5> */

.theme5.desktop-navbar {
  z-index: 999;
  position: relative;
  background-color: transparent;
}

.theme5 .desktop-menuItem,
.theme5 .desktop-menuSecondItemsWrapper,
.theme5 .desktop-menuThirdItemsWrapper,
.theme5 .desktop-departmentsItem .desktop-menuItemsWrapper {
  transition: 0.4s;
}

.theme5 .desktop-menuItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: transparent;
}
.theme5 .desktop-menuSecondItems,
.theme5 .desktop-menuThirdItems,
.theme5 .desktop-departmentItems,
.theme5 .desktop-departmentsItem .desktop-menuItems {
  width: 100%;
  height: 100%;
  padding: 0px;
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
}

.theme5 .desktop-menuSecondItemsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.theme5 .desktop-menuSecondItems {
  width: 100%;
  display: flex;
  position: relative;
  align-content: flex-start;
  column-gap: 5vw;
  flex-flow: column wrap;
  height: fit-content;
  max-height: 360px;
}

.theme5 .desktop-menuThirdItems .desktop-menuItemsTitle,
.theme5 .desktop-menuSecondItem .desktop-arrowIcon,
.theme5 .desktop-menuSecondItem .desktop-menuSeeAllButton,
.theme5 .desktop-menuThirdItemsWrapper {
  display: none;
}

.theme5 .desktop-departmentsItem .desktop-menuSecondItemsWrapper::before {
  content: "";
  background-color: transparent;
  width: 20px;
  height: 100%;
  position: absolute;
  left: -18px;
  z-index: 9999;   
  top: 0;
}

.theme5 .desktop-menuItem,
.theme5 .desktop-departmentsItem {
  font-size: 13px;
  color: rgb(0, 0, 0);
  border: 0px;
  text-transform: initial;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.theme5 .desktop-menuItemsTitle--Second,
.theme5 .desktop-menuItemsTitle--Third {
  padding: 0px 20px;
  color: black;
  font-size: 13px;
}

.theme5 .desktop-menuItemsTitle--Second {
  display: none;
}

.theme5 .desktop-menuItemLink,
.theme5 .desktop-departmentsItemLink {
  padding: 12px 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #FFFFFF;
  font-weight: lighter!important;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

.theme5 .desktop-menuItemLink::after,
.theme5 .desktop-departmentsItemLink::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  left: 0px;
  right: 0px;
  transition: all 0.3s ease 0s;
  text-align: center;
  transform: scaleX(0.2);
  background: transparent;
  z-index: 1000;
}

.theme5 .desktop-menuItem:hover .desktop-menuItemLink::after,
.theme5 .desktop-departmentsItem:hover .desktop-departmentsItemLink::after {
  transform: scaleX(1);
  background: black;
}

.theme5 .desktop-menuIcon {
  max-width: 22px;
}

.theme5 .desktop-menuIconContent {
  display: flex;
  height: 20px;
  text-align: center;
  align-items: flex-end;
}

.theme5 .desktop-menuSecondItems .desktop-menuSecondItemLinkText,
.theme5 .desktop-menuSecondItems .desktop-menuThirdItemLinkText {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme5 .desktop-menuItemLink .desktop-arrowIconContent,
.theme5 .desktop-departmentsItem .desktop-menuItemLink .desktop-menuIconContent {
  display: none;
}

.theme5 .desktop-departmentsItem .desktop-menuItemLink .desktop-arrowIconContent {
  display: block;
}

.theme5 .desktop-departmentsItem .desktop-departmentsItemLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.theme5 .desktop-departmentsItem .desktop-menuItemLink::after {
  display: none;
}

.theme5 .desktop-menuSecondItemsWrapper {
  left: 0px;
  top: 100%;
}

.theme5 .desktop-menuSecondItemsWrapper {
  width: 100%;
}

.theme5 .desktop-bannerContent {
  display: block;
  width: 100%;
  height: 100%;
}

.theme5 .desktop-menuSecondItemsWrapper {
  height: 432px;
  position: absolute;
  background: #f2f2f2;
  /* box-shadow: rgba(0, 0, 0, 0.06) 0px 12px 12px; */
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-flow: column;
  opacity: 0;
  padding: 4vh 3vw;
}

.theme5 .desktop-menuItem .desktop-bannerImage {
  visibility: visible;
  opacity: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
  max-width: 100%!important;
  max-height: 100%!important;
}

.theme5 .desktop-menuItem:hover .desktop-menuSecondItemsWrapper {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.theme5 .desktop-menuItem:hover .desktop-bannerImage {
  visibility: visible;
  opacity: 1;
}

.theme5 .desktop-menuSecondItems::-webkit-scrollbar,
.theme5 .desktop-menuThirdItems::-webkit-scrollbar,
.theme5 .desktop-departmentsItem .desktop-menuItems::-webkit-scrollbar {
    width: 5px;              
}

.theme5 .desktop-menuSecondItems::-webkit-scrollbar-track, 
.theme5 .desktop-menuThirdItems::-webkit-scrollbar-track,
.theme5 .desktop-departmentsItem .desktop-menuItems::-webkit-scrollbar-track {
  background: #fff;
}

.theme5 .desktop-menuSecondItems::-webkit-scrollbar-thumb,
.theme5 .desktop-menuThirdItems::-webkit-scrollbar-thumb,
.theme5 .desktop-departmentsItem .desktop-menuItems::-webkit-scrollbar-thumb {
  background-color: #D8D8D8;
}

.theme5 .desktop-menuItem--bannerOnly .desktop-menuSecondItemsWrapper {
  display: none;
}

.theme5 .desktop-menuSecondItem, 
.theme5 .desktop-menuThirdItem,
.theme5 .desktop-departmentsItem .desktop-menuItem {
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.theme5 .desktop-departmentsItem .desktop-menuItemsWrapper .desktop-menuItemLink {
  color: rgb(0, 0, 0);
}

.theme5 .desktop-departmentsItem .desktop-menuItem:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.theme5 .desktop-menuThirdItemLink {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(11, 31, 63);
  display: block;
  padding-bottom: 13px;
}

.theme5 .desktop-menuSecondItemLink {
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  text-align: left;
  color: black;
  text-decoration: none;
  display: flex;
  padding-bottom: 25px;
}

.theme5 .desktop-menuSeeAllButton {
  color: rgb(11, 31, 63);
  font-size: 11px;
  font-weight: 400;
  text-decoration: underline;
  padding-bottom: 30px;
  display: block;
}
 
.theme5 .desktop-arrowIconContent {
  display: flex;
}

.theme5 .desktop-arrowIcon {
  max-width: 5px;
}



.theme5 .desktop-departmentsItem .desktop-menuItemsWrapper {
  height: 432px;
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-flow: row;
  top: 100%;
  left: 0;
}

.theme5 .desktop-departmentsItem .desktop-menuItems {
  width: 300px;
  height: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
}

.theme5 .desktop-departmentsItem .desktop-menuItems {
  flex-direction: column;
  justify-content: initial;
  width: 250px;
  background-color: white;
  border: 1px solid #f2f2f2;
}

.theme5 .desktop-departmentsItem .desktop-menuItem {
  width: 100%;
  display: block;
  position: initial;
  border-radius: 0;
  border-bottom: 1px solid #f2f2f2;
}



.theme5 .desktop-menuItemLink,
.theme5 .desktop-menuItemLinkText {
  display: flex;
  gap: 10px;
}

.theme5 .desktop-menuItemLink {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.theme5 .desktop-departmentsItem .desktop-menuItemLink {
  padding: 10px 22px;
  align-items: initial;
}

.theme5 .desktop-menuItemLinkText {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 12px;
}

.theme5 .desktop-departmentsItem .desktop-menuItemLinkText {
  text-align: left;
}

.theme5 .desktop-departmentsItem:hover .desktop-menuItemsWrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.theme5 .desktop-departmentsItem .desktop-menuSecondItemsWrapper {
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
}

.theme5 .desktop-departmentsItem .desktop-menuItemLink {
  font-weight: bold;
}

.theme5 .desktop-departmentsItem .desktop-departmentsIcon {
  fill: #FFFFFF;
  padding-right: 8px;
}

/* FIM DO QUINTO TEMA </theme5> */