.SKUSelectorContainer--shelf :global(.vtex-store-components-3-x-skuSelectorSubcontainer--cor),
.SKUSelectorContainer--shelf :global(.vtex-store-components-3-x-skuSelectorTextContainer){
  display: none;
}
.skuSelectorContainer--shelf{
  margin: 0px;
  height: 100%;
}
:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) .brandName,
:global(.vtex-product-summary-2-x-productNameContainer) .brandName{
  display: flex;
  text-align: unset;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 20px;
  text-align: left;
  color: #24272f;

}


:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) :global(.vtex-flex-layout-0-x-flexRow--product-selling-price) {
  margin-top: 0;
}

:global(.vtex-product-summary-2-x-element) :global(.vtex-product-price-1-x-spotPrice--summary) {
  font-weight: bold;
  font-size: 14px;
  color: #24272f;
}


.skuSelectorContainer--shelf :global(.vtex-store-components-3-x-skuSelectorNameContainer),
.skuSelectorContainer--shelf :global(.vtex-styleguide-9-x-container){
  margin: 0px !important;
  height: 47px !important;
  border-radius: 8px 0px 0px 8px;
  background: #ecf0f4;
  border-color: #ecf0f4;

}
.skuSelectorContainer--shelf  :global(.vtex-dropdown__button),
.skuSelectorContainer--shelf :global(.vtex-dropdown__arrow){
font-weight: 500;
font-size: 12px;
letter-spacing: 0.02em;
line-height: 15px;
text-align: center;
color: #000;

}

.SKUSelectorContainer--shelf:empty{
  display: none;
}

.hoverImage{
  z-index: 0;
}
.nameWrapper{
  max-height: 40px;
}
@media(max-width:768px){
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf)  :global(.vtex-product-price-1-x-installments--summary),
:global(.vtex-product-summary-2-x-element)  :global(.vtex-product-price-1-x-installments--summary){

  margin: 5px 0px 12px 0px;

}
.SKUSelectorContainer--shelf{
 max-width: 70px;
}

}

@media(max-width: 375px){
  :global(.vtex-product-price-1-x-listPriceValue--summary),
:global(.vtex-flex-layout-0-x-flexRowContent--price-shelf) :global(.vtex-product-price-1-x-listPriceValue--summary) :global(.vtex-product-price-1-x-currencyContainer--summary){

font-size: 11px;


}
}
