.flexRow--container {
  display: block;
  width: 100%;
  max-width: 1600px;
  padding: 0px 20px;
  margin: 0 auto;
}

.flexRow :global(.vtex-store-components-3-x-container) {
  padding: 0;
  max-width: 100%;
  width: 100%;
}
