.summaryContainer .quantitySelectorTitle {
  display: none;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__input) {
  border: none;
  width: 100%;
  max-width: 50px;
  pointer-events: all;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__plus-button-container),
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__minus-button-container) {
  pointer-events: all;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__minus-button-container)
  :global(.vtex-numeric-stepper__minus-button),
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__plus-button-container)
  :global(.vtex-numeric-stepper__plus-button) {
  border: none;
  background: #ffffff;
}

.summaryContainer .quantitySelectorTitle {
  display: none;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__input) {
  border: none;
  width: 100%;
  max-width: 50px;
  cursor: pointer;
  pointer-events: all;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__minus-button-container)
  :global(.vtex-numeric-stepper__minus-button),
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__plus-button-container)
  :global(.vtex-numeric-stepper__plus-button) {
  border: none;
  background: #ffffff;
  display: inline-flex;
  margin: 0 auto;
  min-width: 28px;
}
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__minus-button-container)
  :global(.vtex-numeric-stepper__minus-button),
.summaryContainer
  .quantitySelectorStepper
  :global(.vtex-numeric-stepper-container)
  :global(.vtex-numeric-stepper__plus-button-container)
  :global(.vtex-numeric-stepper__plus-button) {
  border: none;
  background: #ffffff;
}

@media (max-width: 50em) {
  .summaryContainer
    .quantitySelectorStepper
    :global(.vtex-numeric-stepper-container)
    :global(.vtex-numeric-stepper__minus-button-container)
    :global(.vtex-numeric-stepper__minus-button),
  .summaryContainer
    .quantitySelectorStepper
    :global(.vtex-numeric-stepper-container)
    :global(.vtex-numeric-stepper__plus-button-container)
    :global(.vtex-numeric-stepper__plus-button) {
    width: 100% !important;
  }
}
