.pixelStyle {
    display: none;
}

[class*="searchBarContainer"] [aria-expanded="true"] :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input),
[class*="searchBarContainer"] [aria-expanded="true"] :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
    border-bottom-left-radius: 0;
}

[class*="searchBarContainer"] [aria-expanded="true"] :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)+ :global(.vtex-input__suffix),
[class*="searchBarContainer"] [aria-expanded="true"] :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input)+ :global(.vtex-input__suffix) {
    border-bottom-right-radius: 0;
}

[class*="searchBarContainer"] [class*="portalContainer"],
[class*="searchBarContainer"] [class*="portalContainer"]>div>div,
[class*="searchBarContainer"] [class*="portalContainer"]>div>div>div {
    position: static !important;
}

.custom-info-card {
    display: block;
    padding: 50px;
    border-radius: 10px;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-info-card .custom-info-card__content .custom-info-card__title,
.custom-info-card .custom-info-card__content .custom-info-card__subtitle,
.custom-info-card .custom-info-card__content .custom-info-card__description {
    color: #fff;
    margin: 0 0 20px;
    max-width: 50%;
}

.custom-info-card .custom-info-card__content .custom-info-card__title {
    font-size: 17px;
    text-transform: uppercase;
}

.custom-info-card .custom-info-card__content .custom-info-card__subtitle {
    font-size: 60px;
}

.custom-info-card .custom-info-card__content .custom-info-card__description {
    font-size: 25px;
}

.custom-info-card .custom-info-card__content .custom-info-card__cta {
    color: #fff;
    margin: 20px 0 0;
    padding: 10px 20px;
    display: inline-flex;
    row-gap: 10px;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    background-color: #DC3E3F;
}

.custom-info-card .custom-info-card__content .custom-info-card__cta::after {
    content: "";
    width: 8px;
    height: 8px;
    margin: 0 0 0 10px;
    display: block;
    background-size: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.635' height='8.106' viewBox='0 0 4.635 8.106'%3E%3Cpath id='Icon_ionic-ios-arrow-forward' data-name='Icon ionic-ios-arrow-forward' d='M14.484,10.248,11.417,7.183a.577.577,0,0,1,0-.818.584.584,0,0,1,.821,0l3.475,3.473a.578.578,0,0,1,.017.8l-3.49,3.5a.579.579,0,1,1-.821-.818Z' transform='translate(-11.246 -6.196)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .custom-info-card {
        padding: 50px 30px;
        border-radius: 0;
    }

    .custom-info-card .custom-info-card__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .custom-info-card .custom-info-card__content .custom-info-card__title,
    .custom-info-card .custom-info-card__content .custom-info-card__subtitle,
    .custom-info-card .custom-info-card__content .custom-info-card__description {
        max-width: 100%;
        text-align: center;
    }

    .custom-info-card .custom-info-card__content .custom-info-card__cta {
        margin: 20px auto 0;
    }
}



.custom-card__title {
    font-size: 19px !important;
    margin: 25px 0px;
}

.custom-card__subtitle {
    font-size: 16px;
    font-weight: bold;
    margin: 25px 0px;

}

.custom-card__paragraph {
    font-weight: 500;
    font-size: 14px;
    margin: 20px 0px;
    color: black;
}



.custom-card__paragraph,
.custom-card__bold-word {
    font-size: 14px;
}

.custom-card__boldWord {
    font-size: 17px;
    font-weight: 900;
}

[class*="carouselGaleryCursor"] [class*="swiper-caret"][class*="disabled"] {
    display: none;
}

@media (max-width: 1024px) {
    [class*="flexRow--product-availability"] [class*="flexRowContent--product-availability"] {
        display: flex;
        flex-direction: column;
    }
    [class*="flexRow--product-availability"] [class*="flexRowContent--product-availability"] > [class*="stretchChildrenWidth"] {
        width: 100% !important;
    }
}

[class*="swiper-thumbnails-caret-prev"],
[class*="swiper-thumbnails-caret-next"] {
    left: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    padding: 0;
    transform: translateX(-50%);
    background: #b1b1b1 !important;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
}

[class*="swiper-thumbnails-caret-next"] [class*="caretIcon"],
[class*="swiper-thumbnails-caret-prev"] [class*="caretIcon"] {
    color: #fff;
    width: 12px;
}

[class*="render-container"]:not([class*="render-route-store-home"]) [class*="desktop-menuItem"] [class*="desktop-menuItemLinkText"] {
    color: #000;
}
[class*="render-container"]:not([class*="render-route-store-home"]) [class*="--main-header"]{
    background-color: black;
}

[class*="render-container"]:not([class*="render-route-store-home"]) [class*="flexRow--main-header-mobile"],
[class*="render-route-store-home"] [class*="wrapper--sticky-header--stuck"] [class*="flexRow--main-header-mobile"] {
    background-color: #000;
}

[class*="render-container"]:not([class*="render-route-store-home"]) [class*="flexRow--searchbarmobile"],
[class*="render-route-store-home"] [class*="wrapper--sticky-header--stuck"] [class*="flexRow--searchbarmobile"] {
    border-bottom: 1px solid #b1b1b1;
    background-color: #fff;
}

[class*="render-container"]:not([class*="render-route-store-home"]) [class*="flexRow--MenuDesktop"] {
    background-color: #fff;
}

[class*="flexRow--shelfBanner"] [class*="imageElement"] {
    width: 100%;
    height: auto;
    max-width: unset;
}

[class*="flexRowContent--result"] {
    display: flex;
    align-items: flex-start;
}

[class*="flexRowContent--result"] > [class*="stretchChildrenWidth"]:first-child {
    width: 17em !important;
}

[class*="filterContent"] > div:not([class*="filterItem"]) {
    display: none;
}
.reclameAquiLogo {
    height: 12.75px;
    width: 80px;
}

:global(.custom-price) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: baseline;
    justify-content: center;
}
:global(.custom-price) > span {
    font-size: 12px;
}
