@import './variables.scss';

.link--componentListaDeCasamento {
    text-decoration: none;
    color: white;
    font-weight: 700;

    .label {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 1;
        gap: 9px;

        &::before {
            content: url("assets/icons/IconsHeader/icone-de-presente.svg");
            display: block;
            margin-top: 1px;
        }
    }

}

.buttonLink--empty-state {
    border: none;
    background-color: #1B9A28;
    border-radius: 20px;

    .label {
        font-size: 13px;
    }
}

.link--topbar-3 {
    text-decoration: none;
    color: $cor8;

    .label {
        font-size: 15px;

        @media (max-width:758px) {
            font-size: 12px;
        }
    }
}

.link--footerSubmenuItem {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    margin: 7px 0 !important;

    @media (max-width:758px) {
        border-top: 1px solid #B1B1B1;
        background-color: #f1f1f1;
        padding: 3px !important;
        margin-top:0!important;
    }
    
    .label {
        
        @media (max-width:758px) {
            margin: 7px 30px !important;
            color: #3f3f40;
        }

    }
}