@import './variables.scss';

.sliderLayoutContainer--carousel {
    margin-top: -160px;

    .paginationDotsContainer--carousel {
        margin-bottom: 2em;

        .paginationDot--isActive {
            width: 34px !important;
            height: 11px !important;
            border-radius: 20px;
            background-color: $cor2 ;

        }

        .paginationDot--carousel {
            width: 11px;
            height: 11px;
            background-color: $cor2 ;
        }
    }
}

.sliderTrackContainer--shelf {
    padding: 5px 5px;
}

@media (min-width:1050px) {
    
    .sliderLeftArrow--slideSelecao {
        left: -75px;

    }
    .sliderRightArrow--slideSelecao {
        right: -75px;
    }

}

@media (max-width:1050px) {

    .sliderLayoutContainer--shelfBanner {
        margin-top: 0px !important;
        margin-bottom: 25px !important;
    }

    .sliderLayoutContainer--section-3 {
        margin-top: 25px;
        margin-bottom: 0;
    }

}

@media (min-width:1050px) {
    .sliderLayoutContainer--slideSelecao {
        max-width: 1060px;
        margin: 0px auto;
    }

}

:global(.vtex-store-components-3-x-swiperCaretNext),
:global(.vtex-store-components-3-x-swiperCaretPrev) {

    :global(.vtex-store-components-3-x-caretIcon) {
        background-color: $cor7 !important;
        border-radius: 50% !important;
        padding: 5px;
        box-sizing: border-box;
        color: white;
    }
}

:global(.vtex-shelf-1-x-dot--isActive--pdp),
:global(.vtex-store-components-3-x-swiperBullet--active) {
    border-radius: 20px;
    background-color: rgba(3, 3, 3, 0.253);
    width: 34px !important;
    height: 11px !important;
}

:global(.vtex-slider-layout-0-x-sliderArrows) {
    background-color: $cor7 !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;

    :global(.vtex-slider-layout-0-x-caretIcon) {
        color: $cor2;
        width: 70% !important;

    }
}