@import './variables.scss';
.listPrice--summary{
    .listPriceValue--summary  {
     text-decoration: line-through;
     font-size: 14px;
     color: $cor8;
    } 
 }
 .spotPrice--summary{
   margin-bottom: 13px;
    .spotPriceValue--summary{
       font-size: 24px; 
       color: $secondary-color;
       font-weight: 600;
    }
 }
 .installments--summary{
    font-size: 14px;
    color: $cor8;
    margin-bottom: 10px;
 }
 
 .installments {
   color: #7D7B7B;
   font-size: 13px;
 }

 .installments--pdp {
   margin: 0;
   display: block;
   font-size: 14px;
   text-align: center;
   @media (min-width: 768px) {
      font-size: 13px;
      text-align: left;
   }
 }