@import './variables.scss';

@media (max-width:$tablet-size) {
    .biggy-autocomplete {
        width: 96vw;
    }  
}

.biggy-autocomplete-wrapper {
    width: 100%;
}

.biggy-autocomplete {
    width: 100%;
    border: 1px solid #adaaaa;
    padding: 0;
    z-index: 1000;
    max-width: 100%;
    box-shadow: unset;
    border-top: 0;
    background-color: $primary-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.itemListSubItemLink,
.itemListTitle,
.tileListTitle{
    font-weight: bold!important;
    color: black!important;
}