@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif !important;
}

:global(.discount-container-shelf) {
    font-size: 14px;
    color: $cor8;

    :global(.discount-price-shelf) {
        margin-bottom: 0px;
    }
}

:global(.discount-message-shelf) {
    margin: 0 2px;

}

:global(.text-block-container) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

:global(.text-block-paragraph) {
    text-transform: uppercase;
    font-weight: 700;
    color: $secondary-color;
    font-size: 20px;
}

:global(.text-block-span1) {
    color: #707070;
    font-size: 20px;
}

:global(.text-block-span2) {
    color: $cor10 ;
    font-size: 20px;
    font-weight: 700;
}

:global(.CustomInstallmentsContainer) {
    display: flex;
    align-items: center;
    gap: 20px;

    div {
        p {
            font-size: 12px;
        }

    }
}

:global(.CustomInstallmentsClosed),
:global(.CustomInstallmentsOpen) {
    border: none;
    margin: 10px 0px;
    background-color: transparent;
    text-decoration: underline;
    color: black;
    cursor: pointer;

}

@media (max-width:758px) {
    :global(.vtex-product-price-1-x-installments) {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
        display: flex;
        justify-content: center !important;
        align-items: center;
        margin: auto;
    }

    :global(.discount-container),
    :global(.pdp) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    :global(.CustomInstallmentsClosed),
    :global(.CustomInstallmentsOpen) {
        display: flex;
        justify-content: center;
        margin: 10px auto;
    }

    :global(.CustomInstallmentsContainer) {
        display: flex;
        margin: auto;
        justify-content: center;
    }

    :global(.vtex-store-components-3-x-productNameContainer--quickview) {

        text-align: center;
    }

    :global(.vtex-store-components-3-x-productBrand--quickview) {
        font-size: 24px !important;
        font-weight: 600 !important;
        line-height: 25px !important;
    }

    :global(.FloatBottomH3) {
        font-size: 16px;
    }

}

:global(.discount-container),
:global(.pdp) {
    margin-top: 30px;
}

:global(.pdp-message) {
    color: #7D7B7B;
    font-size: 13px;
    margin: 5px 0;
}

:global(.pdp-price) {
    color: #1B9A28;
    font-size: 26px;
    font-weight: bold;
    margin: 5px 0;
}

:global(.pdp-message-2) {
    color: #7D7B7B;
    font-size: 13px;
    margin: 20px 0px 0px 0px;
}

:global(.pdp-messageParcelado) {
    color: #000;
    font-size: 19px;
    font-weight: bold;
    margin: 5px 0;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
    background-color: transparent;
}

:global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) {
    :global(.vtex-sticky-layout-0-x-container--sticky-header) {

        :global(.vtex-flex-layout-0-x-flexRow--main-header) {
            background-color: #000;

        }

        :global(.vtex-flex-layout-0-x-flexRow--MenuDesktop) {
            background-color: #ffffff00 !important;

            :global(.vtex-flex-layout-0-x-flexRowContent--MenuDesktop) {
                :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
                    :global(.wavepartnerbr-wave-menu-0-x-theme5) {
                        :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItemsWrapper) {
                            :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItems) {
                                :global(.wavepartnerbr-wave-menu-0-x-desktop-departmentsItemLink),
                                :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItemLinkText) {
                                    color: black !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

:global(.render-route-store-home) {
    :global(.render-provider) {
        :global(.vtex-store__template) {

            :global(.flex),
            :global(.flex-column),
            :global(.min-vh-100),
            :global(.w-100) {
                :global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
                    :global(.vtex-sticky-layout-0-x-container--sticky-header) {
                        :global(.vtex-flex-layout-0-x-flexRow--MenuDesktop) {
                            background-color: transparent !important;

                            :global(.vtex-flex-layout-0-x-flexRowContent--MenuDesktop) {
                                :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
                                    :global(.wavepartnerbr-wave-menu-0-x-theme5) {
                                        :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItemsWrapper) {
                                            :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItems) {
                                                :global(.wavepartnerbr-wave-menu-0-x-desktop-departmentsItemLink) {
                                                    color: rgb(255, 255, 255) !important;

                                                    :global(.wavepartnerbr-wave-menu-0-x-desktop-departmentsIconContent) {
                                                        display: none;
                                                    }
                                                }

                                            }
                                        }
                                    }

                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

:global(.wavepartnerbr-wave-menu-0-x-desktop-departmentsItemLink) {
    font-size: 14px;
    font-weight: 600;
}

:global(.render-route-store-home) {
    :global(.render-provider) {
        :global(.vtex-store__template) {

            :global(.flex),
            :global(.flex-column),
            :global(.min-vh-100),
            :global(.w-100) {
                :global(.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck) {
                    :global(.vtex-sticky-layout-0-x-container--sticky-header) {
                        :global(.vtex-flex-layout-0-x-flexRow--MenuDesktop) {
                            background-color: #ffffff !important;

                            :global(.vtex-flex-layout-0-x-flexRowContent--MenuDesktop) {
                                :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
                                    :global(.wavepartnerbr-wave-menu-0-x-theme5) {
                                        :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItemsWrapper) {
                                            :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItems) {
                                                :global(.wavepartnerbr-wave-menu-0-x-desktop-departmentsItemLink) {
                                                    color: #000000 !important;

                                                    :global(.wavepartnerbr-wave-menu-0-x-desktop-departmentsIconContent) {
                                                        display: none;
                                                    }
                                                }

                                            }
                                        }
                                    }

                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

:global(.render-route-store-search),
:global(.render-route-store-search-department),
:global(.render-route-store-search-category),
:global(.render-route-store-search-subcategory),
:global(.render-route-store-product) {
    :global(.render-provider) {
        :global(.vtex-store__template) {

            :global(.flex),
            :global(.flex-column),
            :global(.min-vh-100),
            :global(.w-100) {
                :global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
                    :global(.vtex-sticky-layout-0-x-container--sticky-header) {
                        :global(.vtex-flex-layout-0-x-flexRow--main-header) {
                            background-color: black;
                        }

                        :global(.vtex-flex-layout-0-x-flexRow--MenuDesktop) {
                            background-color: white;

                            :global(.vtex-flex-layout-0-x-flexRowContent--MenuDesktop) {
                                :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
                                    :global(.wavepartnerbr-wave-menu-0-x-theme5) {
                                        :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItemsWrapper) {
                                            :global(.wavepartnerbr-wave-menu-0-x-desktop-menuItems) {
                                                :global(.wavepartnerbr-wave-menu-0-x-desktop-departmentsItemLink) {
                                                    color: black !important;
                                                }
                                            }

                                        }

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

:global(.ContainerHighlight) {
    display: flex;
    flex-wrap: wrap;

}

:global(.ContainerHighlight) {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    p {
        margin: 0px 10px;
    }
}

//highlight-item-Frete Grátis algumaCoisa Sul e Sudeste
:global(.highlight-item-Seleção) {
    font-size: 12px;
    color: black;
}

:global(.highlight-item-Frete) {
    font-size: 12px;
    color: black;
    background-color: #F2F2F2;
    padding: 5px 10px;
    border-radius: 20px;

}

:global(.highlight-item-A) {
    color: red;
    text-transform: initial;
    font-size: 12px;
}
:global(.highlight-item-110V),
:global(.highlight-item-220V),
:global(.highlight-item-BIVOLT) {
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    padding: 5px;
    background-color: black;
    border-radius: 20px;
}