@font-face {
  font-family: 'Manrope', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
    font-weight: 700;
  }
  
  
  